@use '../tokens/colors' as *;
@use '../tokens/spacing' as *;
@use '../tokens/shadows' as *;
@use '../tokens/typography' as *;
@use '../utilities/mixins' as *;

.info-card {
  background-color: $color-bg-dark;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: $shadow-sm;
  @include transition(all, 0.3s);
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid $color-border-light;

  &:hover {
    transform: translateY(-4px);
    box-shadow: $shadow-lg;
  }

  &--project {
    .info-card__body {
      padding: $space-4;
    }
  }

  &__thumb {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    background-color: $color-gray-100;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include transition(transform, 0.5s);
    }

    &:hover img {
      transform: scale(1.05);
    }
  }

  &__tag {
    position: absolute;
    top: $space-3;
    right: $space-3;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: $font-size-xs;
    font-weight: $font-weight-bold;
    color: $color-white;
    z-index: 2;
    background-color: $color-dark;

    &.purple { background-color: $color-tag-purple; }
    &.red { background-color: $color-tag-red; }
    &.orange { background-color: $color-tag-orange; }
  }

  &__body {
    padding: $space-6;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: 'Poppins', sans-serif;
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    color: $color-text-primary;
    margin-bottom: $space-3;
    
    &--bordered {
      border-bottom: 2px solid $color-brand;
      padding-bottom: $space-2;
      display: inline-block;
      margin-bottom: $space-4;
    }
  }

  &__content {
    color: $color-text-secondary;
    font-size: $font-size-base;
    line-height: $line-height-relaxed;
    flex: 1;
  }
}
