@use '../tokens/colors' as *;
@use '../tokens/typography' as *;
@use '../tokens/spacing' as *;
@use '../tokens/breakpoints' as *;

h1, .h1 {
  font-size: $font-size-3xl;
  font-weight: $font-weight-extrabold;
  color: $color-text-primary;
  margin-bottom: $space-6;
  line-height: $line-height-tight;

  @include media-md {
    font-size: $font-size-2xl;
  }
}

h2, .h2 {
  font-size: $font-size-2xl;
  font-weight: $font-weight-bold;
  color: $color-text-primary;
  margin-bottom: $space-5;
  
  @include media-md {
    font-size: $font-size-xl;
  }
}

h3, .h3 {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  color: $color-text-primary;
  margin-bottom: $space-4;

  @include media-md {
    font-size: $font-size-lg;
  }
}

.section-title {
  position: relative;
  display: inline-block;
  margin-bottom: $space-8;
  
  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 40px;
    height: 4px;
    background-color: $color-brand;
    border-radius: 2px;
  }
}

.title-wrapper {
  margin-bottom: $space-4;

  .title {
    align-items: center;
    display: flex;

    h1 {
      float: left;
      margin: 0;
      padding: 0;

      font-family: 'Poppins', sans-serif;
      font-weight: 900;
      font-size: $font-size-3xl;
      letter-spacing: -2px;
      line-height: $font-size-3xl;
      color: $color-text-light;

      @include media-lg {
        margin: 0;
        width: 100%;
        display: flex;
        font-size: $font-size-lg;
        line-height: $font-size-2xl;
      }

    svg {
      width: 35px;
      height: 35px;
      color: $color-text-primary;
      margin-top: 5px;
      display: none;
    }

    & > span {
      float: right;
      margin: 8px 0 0 0;
      font-family: 'Kaushan Script', cursive;
      font-weight: 500;

      @include media-lg {
        float: none;
        margin-top: 5px;
        font-size: $font-size-xl;
      }

       span {
        color: #00d4ff;
        background: linear-gradient(90deg, #00ffcc 0, #00d4ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-size: $font-size-display;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;

        @include media-lg {
          font-size:  $font-size-3xl;
        }
      }
    }
  }

}

  p {
    font-style: italic;
    font-size: $font-size-sm;
    margin-top: 0;
    font-weight: $font-weight-light;
  }
}
